@import url(/themes/default/style/layout.xul.all.css);
@import url(/themes/default/style/960.css);
@import url(/themes/default/style/variables.css);

/** Layout */
#header-top, 
#footer-top, 
#nosidebarpage #content-middle {
	margin-bottom: 13px;
}
#header-top {
	background-color: var(secondary-background-color);
	background-image: var(main-border-image), var(main-border-image), var(main-border-image);
	background-repeat: repeat-y, repeat-x, repeat-y;
	background-position: left top, right bottom, right top;
}
#header-middle, 
#sidebarpage #content-middle {
	background-color: var(secondary-background-color);
	background-image: var(main-border-image), var(main-border-image), var(main-border-image);
	background-repeat: repeat-y, repeat-x, repeat-y;
	background-position: left top, right top, right top;
}
#nosidebarpage #content-middle {
	background-color: var(secondary-background-color);
	background-image: var(main-border-image), var(main-border-image), var(main-border-image), var(main-border-image);
	background-repeat: repeat-y, repeat-x, repeat-y, repeat-x;
	background-position: left top, right top, right top, right bottom;
}
#header-middle > div {
	margin: 1px 1px 0 1px;
}

#content-middle {
	padding: 11px 0 ;
}
#header-top .alpha > div, 
#content-middle .alpha > div {
	margin-left: 11px;
}
#header-top .omega > div, 
#content-middle .omega > div {
	margin-right: 11px;
}
#nosidebarpage #content-middle > div {
	margin: 0 11px;
}
#footer-bottom, 
#header-top {
	height: 41px;
	font-size: 11px;
}
#footer-bottom > div, 
#header-top > div {
	height: 40px;
	line-height: 40px;
}

#content-top {
	margin: 11px 0;
}

#footer-middle {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
}
#footer-middle-blocks {
	background-image: var(secondary-border-image), var(secondary-border-image), var(secondary-border-image);
	background-repeat: repeat-y;
	background-position: 24.5% center, 50% center, 75.5% center;
	margin: 12px 0;
}

#sidebar-column, 
#content-column,
#footer-middle-blocks > div {
	min-height: 1px; /* handle empty zones */
}

#sidebar-column > .cblock:not(:last-child) {
	margin-bottom: 20px;
}

/** Main menu */
.modules-website-ConfigurableMenu .giant,
.modules-website-ConfigurableMenu .scroll {
    background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
}
.modules-website-ConfigurableMenu .giant .level1 li,
.modules-website-ConfigurableMenu .scroll .level1 li {
    display: inline-block;
}
.modules-website-ConfigurableMenu .giant .level1,
.modules-website-ConfigurableMenu .scroll .level1 {
	margin: 0;
}
.modules-website-ConfigurableMenu .giant .level1 > li,
.modules-website-ConfigurableMenu .scroll .level1 > li {
	font-size: 12px;
	text-transform: uppercase;
	height: 29px;
	line-height: 29px;
	margin: 0;
}
.modules-website-ConfigurableMenu .giant .level1 > li:hover,
.modules-website-ConfigurableMenu .scroll .level1 > li:hover {
	background: var(grad-one-second-color);
}
.modules-website-ConfigurableMenu .giant .level1 > li > a,
.modules-website-ConfigurableMenu .scroll .level1 > li > a {
	text-decoration: none;
	padding: 0 13px;
	display: inline-block;
	height: 29px;
	color: var(grad-one-text-color);
}
.modules-website-ConfigurableMenu .giant .level1 > li > a:hover,
.modules-website-ConfigurableMenu .scroll .level1 > li > a:hover {
	color: var(main-link-color);
}
.modules-website-ConfigurableMenu .giant .level1 > li > strong,
.modules-website-ConfigurableMenu .scroll .level1 > li > strong {
	padding: 0 13px;
	color: var(main-link-color);
}
.modules-website-ConfigurableMenu .giant .level1 > li:not(:last-child) > a,
.modules-website-ConfigurableMenu .scroll .level1 > li:not(:last-child) > a,
.modules-website-ConfigurableMenu .giant .level1 > li:not(:last-child) > strong,
.modules-website-ConfigurableMenu .scroll .level1 > li:not(:last-child) > strong {
	border-right: 1px solid var(secondary-border-color);
}
.modules-website-ConfigurableMenu .giant .level2,
.modules-website-ConfigurableMenu .scroll .level2 {
	display: none;
	z-index: 10;
}
.modules-website-ConfigurableMenu .giant .level1 > li:hover .level2,
.modules-website-ConfigurableMenu .scroll .level1 > li:hover .level2 {
	display: block;
	position: absolute;
	background-color: var(secondary-background-color);
	border: 5px solid var(grad-one-second-color);
	z-index: 1000000; /* The menu hover parts should be over than each other element. */
}
.modules-website-ConfigurableMenu .giant .level2 a,
.modules-website-ConfigurableMenu .scroll .level2 a {
	text-decoration: none;
	color: var(main-link-hover-color);
}
.modules-website-ConfigurableMenu .giant .level2 a:hover,
.modules-website-ConfigurableMenu .scroll .level2 a:hover {
	text-decoration: underline;
	color: var(main-link-color);
}
.modules-website-ConfigurableMenu .giant .level2 strong,
.modules-website-ConfigurableMenu .scroll .level2 strong {
	color: var(main-link-color);
}

/** .scroll */
.modules-website-ConfigurableMenu .scroll .level1 > li .level2 {
	width: 150px;
	padding: 0 5px;
}
.modules-website-ConfigurableMenu .scroll .level2 > li:not(:first-child) {
	border-top: 1px solid var(main-border-color);
}
.modules-website-ConfigurableMenu .scroll .level2 li {
	display: block;
	padding: 6px 5px;
	line-height: 15px;
	text-transform: none;
}
.modules-website-ConfigurableMenu .scroll .level1 > li {
	position: relative;
}
.modules-website-ConfigurableMenu .scroll .level1 > li:last-child .level2 {
	right: 0;
}

/** .giant */
.modules-website-ConfigurableMenu .giant .level1 {
	position: relative;
}
.modules-website-ConfigurableMenu .giant .level1 > li .level2 {
	width: 930px;
	padding: 0;
	left: 0;
	margin: 0;
}
.modules-website-ConfigurableMenu .giant .level2 li {
	line-height: 16px;
	text-transform: none;
	margin-bottom: 2px;
}
.modules-website-ConfigurableMenu .giant .level2 > li {
	vertical-align: top;
	width: 135px;
	margin: 10px;
}
.modules-website-ConfigurableMenu .giant .level2 > li > a:hover {
	color: var(main-link-color);
}
.modules-website-ConfigurableMenu .giant .level2 > li::before {
	color: var(bullet-text-color);
	content: "» ";
	font-weight: bold;
	text-shadow: 1px 2px 2px var(bullet-shadow-one-color);
	font-size: 1.3em;
}
.modules-website-ConfigurableMenu .giant .level2 > .illustration {
	width: 290px;
}
.modules-website-ConfigurableMenu .giant .level2 > .illustration::before {
	display: none;
}
.modules-website-ConfigurableMenu .giant .level3 {
	margin-top: 5px;
}
.modules-website-ConfigurableMenu .giant .level3 li {
	display: block;
}

/** Other menus */
.modules-website-ConfigurableMenu .default h3 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
}
.modules-website-ConfigurableMenu .default ul {
	margin-bottom: 0;
}
.modules-website-ConfigurableMenu .default .level1 ul {
	margin-left: 20px;
}

.modules-website-ConfigurableMenu .inline li {
	margin: 0;
	display: inline;
}
.modules-website-ConfigurableMenu .inline li span.separator {
	margin: 0 9px;
}
.modules-website-ConfigurableMenu .inline li a {
	color: var(main-link-hover-color);
	text-decoration: none;
}
.modules-website-ConfigurableMenu .inline li a:hover {
	color: var(main-link-color);
	text-decoration: underline;
}

.modules-website-ConfigurableMenu .contextual h3 {
	background-color: var(grad-two-second-color);
	background-image: -webkit-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -webkit-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -webkit-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -moz-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -moz-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -moz-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -o-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -o-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -o-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -ms-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -ms-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -ms-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	padding: 0 26px 0 12px;
	font-size: 14px;
	font-weight: normal;
	min-height: 30px;
	line-height: 30px;
	margin: 0;
}
.modules-website-ConfigurableMenu .contextual h3,
.modules-website-ConfigurableMenu .contextual h3 a {
	color: var(grad-two-text-color);
}
.modules-website-ConfigurableMenu .contextual h3 a:hover {
	color: var(grad-two-link-color);
}
.modules-website-ConfigurableMenu .contextual .level1 {
	font-size: 14px;
	line-height: 30px;
	margin-right: 16px;
	border-bottom: 1px solid var(main-border-color);
}
.modules-website-ConfigurableMenu .contextual .level1 > li {
	border-top: 1px solid var(main-border-color);
	background-image: var(main-horiontal-arrow-image);
	background-repeat: no-repeat;
	background-position: 95% 10px;
	padding-right: 13%;
	line-height: 16px;
}
.modules-website-ConfigurableMenu .contextual .level1 > li > a,
.modules-website-ConfigurableMenu .contextual .level1 > li > strong {
	vertical-align: middle;
	display: inline-block;
	margin: 7px 0 7px 0;
}
.modules-website-ConfigurableMenu .contextual .level1 > li.inpath,
.modules-website-ConfigurableMenu .contextual .level1 > li.current {
	background-image: var(main-vertical-arrow-image);
	background-position: 95% 12px;
}
.modules-website-ConfigurableMenu .contextual .level1 ul {
	font-size: 12px;
	line-height: 26px;
	margin-left: 10px;
}
.modules-website-ConfigurableMenu .contextual .level2 {
	margin-bottom: 7px;
}
.modules-website-ConfigurableMenu .contextual a {
	color: var(main-link-current-color);
	text-decoration: none;
}
.modules-website-ConfigurableMenu .contextual a:hover {
	color: var(main-link-color);
	text-decoration: underline;
}

/** Richtext */
body {
	background-color: var(main-background-color);
	color: var(main-text-color);
}

.heading-one,
.h-1 {
	color: var(heading-one-color);
	font-size: 24px;
	font-weight: normal;
}
.heading-two,
.h-2 {
	color: var(heading-two-color);
	font-size: 20px;
	font-weight: normal;
}
.heading-three,
.h-3 {
	color: var(heading-three-color);
	font-size: 18px;
	font-weight: normal;
}
.heading-four,
.h-4 {
	color: var(heading-three-color);
	font-size: 16px;
	font-weight: normal;
}
.heading-five,
.h-5 {
	color: var(heading-three-color);
	font-size: 14px;
	font-weight: normal;
}

a.link {
	color: var(main-link-color);
}
a.link:hover {
	color: var(main-link-hover-color);
}
a.link:current {
	color: var(main-link-current-color);
}

table.normal, 
table.normal tr td {
	border: 1px solid var(main-border-color);
}
table.normal tr th {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	border: none;
	color: var(grad-one-text-color);
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
table.normal tr:nth-child(even) td {
	background-color: var(alternate-even-color);
}
table.normal tr:nth-child(odd) td {
	background-color: var(alternate-odd-color);
}

hr,
blockquote,
abbr,
acronym {
	border-color: var(main-border-color);
}
hr {
	background-color: var(main-border-color);	
}

ul.normal,
ul.errors,
ul.warnings,
ul.messages,
.menu-list ul,
.menu-list dl,
.menu-list {
	margin-left: 0;
}
ul.normal > li,
ul.errors > li,
ul.warnings > li,
ul.messages > li,
.menu-list > li,
.menu-list > dd {
	list-style-type: none;
	margin: 0;
	/* Simulate list-style-position: outside */
	text-indent: -1em;	
	padding-left: 1em;
}
ul.normal > li > *,
ul.errors > li > *,
ul.warnings > li > *,
ul.messages > li > *,
.menu-list > li > *,
.menu-list > dd > * {
	/* Simulate list-style-position: outside */
	text-indent: 0;
}
ul.normal > li::before,
ul.errors > li::before,
ul.warnings > li::before,
ul.messages > li::before,
.menu-list > li::before,
.menu-list > dd::before {
	content: "» ";
	font-weight: bold;
	text-shadow: 1px 2px 2px var(bullet-shadow-one-color);
	font-size: 1.2em;
}
ul.normal > li::before,
.menu-list > li::before,
.menu-list > dd::before {
	color: var(bullet-text-color);
}

.messages {
	color: var(messages-text-color);
	border: 1px solid var(messages-text-color);
	padding: 10px;
	background: var(messages-background-color);
}
.warnings {
	color: var(warnings-text-color);
	border: 1px solid var(warnings-text-color);
	padding: 10px;
	background: var(warnings-background-color);
}
.errors {
	color: var(errors-text-color);
	border: 1px solid var(errors-text-color);
	padding: 10px;
	background: var(errors-background-color);
}
.requiredsymbol {
	color: var(errors-text-color);
}

dl.normal > dd {
	margin: 3px 20px 8px 20px;
}

.document-list .odd {
	background: var(alternate-odd-color);
}
.document-list .even {	
	background: var(alternate-even-color);
}

/** Pagination */
.pagination {
	font-size: 11px;
	border-top: 1px solid var(main-border-color);
}
.pagination li {
	margin: 0 2px;
}
.pagination li strong {
	color: var(main-link-color);
	border-top: 3px solid var(main-link-color);
	padding: 5px 3px 0 3px;
}
.pagination li a {
	color: var(main-link-hover-color);
	text-decoration: none;
	padding: 0 3px;
}
.pagination li a:hover {
	color: var(main-link-color);
	text-decoration: underline;
}

.highlight {
	color: var(highlight-text-color);
	background: var(highlight-background-color);
}

/** Forms */
form.cmxform fieldset:not(.inline-set) {
	border: 1px solid var(set-border-color);
}
form.cmxform fieldset:not(.inline-set) > legend {
	color: var(set-border-color);
	font-weight: normal;
}
form.cmxform .description {
	font-size: 12px;
}
.buttons {
	text-align: right;
}

input.textfield,
textarea,
select {
	-webkit-appearance: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-color: var(field-border-color);
	background-color: var(field-background-color);
	color: var(field-text-color);
}
input.textfield:hover,
textarea:hover,
select:hover {
	border-color: var(field-border-hover-color);
	background-color: var(field-background-hover-color);
	color: var(field-text-hover-color);
}
option {
	background-color: var(field-background-color);
	color: var(field-text-color);
}
option:hover {
	background-color: var(field-background-color);
	color: var(field-text-color);
}

input.button,
button.button,
a.button {
	background-color: var(grad-two-second-color);
	background-image: var(grad-two-horiontal-arrow-image);
	background-image: var(grad-two-horiontal-arrow-image), -webkit-linear-gradient(top, var(grad-two-top-color) 10%, var(grad-two-first-color) 15%, var(grad-two-second-color));
	background-image: var(grad-two-horiontal-arrow-image), -moz-linear-gradient(top, var(grad-two-top-color) 10%, var(grad-two-first-color) 15%, var(grad-two-second-color));
	background-image: var(grad-two-horiontal-arrow-image), -o-linear-gradient(top, var(grad-two-top-color) 10%, var(grad-two-first-color) 15%, var(grad-two-second-color));
	background-image: var(grad-two-horiontal-arrow-image), -ms-linear-gradient(top, var(grad-two-top-color) 10%, var(grad-two-first-color) 15%, var(grad-two-second-color));
	background-image: var(grad-two-horiontal-arrow-image), linear-gradient(top, var(grad-two-top-color) 10%, var(grad-two-first-color) 15%, var(grad-two-second-color));
	background-repeat: no-repeat;
	background-position: right center, left top;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
	padding: 3px 20px 3px 10px;
	font-weight: bold;
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	vertical-align: middle;
}
input.button:hover,
button.button:hover,
a.button:hover {
	background-color: var(grad-one-second-color);
	background-image: var(grad-one-horiontal-arrow-image), -webkit-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: var(grad-one-horiontal-arrow-image), -moz-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: var(grad-one-horiontal-arrow-image), -o-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: var(grad-one-horiontal-arrow-image), -ms-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: var(grad-one-horiontal-arrow-image), linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
}
input.button.primary,
button.button.primary,
a.button.primary {
	font-size: 16px;
	line-height: 19px;
}
input.button.secondary,
button.button.secondary,
a.button.secondary {
	background-color: var(grad-three-second-color);
	background-image: none;
	background-image: -webkit-linear-gradient(top, var(grad-three-top-color) 10%, var(grad-three-first-color) 15%, var(grad-three-second-color));
	background-image: -moz-linear-gradient(top, var(grad-three-top-color) 10%, var(grad-three-first-color) 15%, var(grad-three-second-color));
	background-image: -o-linear-gradient(top, var(grad-three-top-color) 10%, var(grad-three-first-color) 15%, var(grad-three-second-color));
	background-image: -ms-linear-gradient(top, var(grad-three-top-color) 10%, var(grad-three-first-color) 15%, var(grad-three-second-color));
	background-image: linear-gradient(top, var(grad-three-top-color) 10%, var(grad-three-first-color) 15%, var(grad-three-second-color));
	background-position: left top;
	padding: 3px 10px 3px 10px;
}
input.button.secondary:hover,
button.button.secondary:hover,
a.button.secondary:hover {
	background-color: var(grad-one-second-color);
	background-image: none;
	background-image: -webkit-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-top-color) 10%, var(grad-one-first-color) 15%, var(grad-one-second-color));
}
input.button[disabled],
button.button[disabled],
input.button.secondary[disabled],
button.button.secondary[disabled] {
	background-color: var(grad-disabled-second-color);
	background-image: none;
	background-image: -webkit-linear-gradient(top, var(grad-disabled-top-color) 10%, var(grad-disabled-first-color) 15%, var(grad-disabled-second-color));
	background-image: -moz-linear-gradient(top, var(grad-disabled-top-color) 10%, var(grad-disabled-first-color) 15%, var(grad-disabled-second-color));
	background-image: -o-linear-gradient(top, var(grad-disabled-top-color) 10%, var(grad-disabled-first-color) 15%, var(grad-disabled-second-color));
	background-image: -ms-linear-gradient(top, var(grad-disabled-top-color) 10%, var(grad-disabled-first-color) 15%, var(grad-disabled-second-color));
	background-image: linear-gradient(top, var(grad-disabled-top-color) 10%, var(grad-disabled-first-color) 15%, var(grad-disabled-second-color));
	background-position: left top;
	padding: 3px 10px 3px 10px;	
	cursor: no-drop;
}

input.date-picker {
	padding-right: 20px;
	background-image: url(/media/changeicons/small/calendar.png);
	background-position: right center;
	background-repeat: no-repeat;
}
#ui-datepicker-div {
	z-index: 10000 !important;
}

/** Blocks */
.modules-website-switchlanguage li {
	margin: 0;
	display: inline;
}
.modules-website-switchlanguage li span {
	margin: 0 1px;
}
.modules-website-switchlanguage {
	height: 40px;
	display: table-cell;
	vertical-align: middle;
}

.modules-website-switchlanguage .scroll {
	width: 50px;
	font-size: 12px;
    font-weight: bold;
    line-height: 22px;
	text-align: center;
    text-transform: uppercase;
}
.modules-website-switchlanguage .scroll:hover {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	color: var(grad-one-text-color);
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.modules-website-switchlanguage .scroll ul {
	display: none;
}
.modules-website-switchlanguage .scroll:hover ul {
	display: block;
	position: absolute;	
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border: 2px solid var(grad-one-second-color);
	background-color: var(secondary-background-color);
	width: 36px;
	padding: 0 5px;
}
.modules-website-switchlanguage .scroll strong {
	padding: 0 21px 0 10px;
	background-image: var(main-vertical-arrow-image);
	background-position: 90% center;
	background-repeat: no-repeat;
}
.modules-website-switchlanguage .scroll:hover strong {
	background-image: var(grad-one-vertical-arrow-image);
}
.modules-website-switchlanguage .scroll li {
	display: block;
	padding: 0 16px 0 5px;
}
.modules-website-switchlanguage .scroll li:not(:first-child) {
	border-top: 1px solid var(main-border-color);
}
.modules-website-switchlanguage .scroll a {
	color: var(main-link-hover-color);
	text-decoration: none;
}
.modules-website-switchlanguage .scroll a:hover {
	color: var(main-link-color);
	text-decoration: underline;
}

.modules-order-ShortCart,
.modules-customer-Customerinfo,
.modules-users-showinfo {
	height: 40px;
	display: table-cell;
	vertical-align: middle;	
}
.modules-order-ShortCart > div,
.modules-customer-Customerinfo > div,
.modules-users-showinfo > div {
	width: 140px;
	font-size: 12px;
	line-height: 14px;
	text-align: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.modules-order-ShortCart .heading-two,
.modules-customer-Customerinfo .heading-two,
.modules-users-showinfo .heading-two {
	font-size: 12px;
	font-weight: bold;
	line-height: 22px;
	padding: 0 21px 0 7px;
	background-position: 95% center;
	background-repeat: no-repeat;
	margin: 0;
}
.modules-order-ShortCart .heading-two span,
.modules-customer-Customerinfo .heading-two span,
.modules-users-showinfo .heading-two span {
	padding-left: 5px;
}
.modules-order-ShortCart .scroll:hover,
.modules-customer-Customerinfo .scroll:hover,
.modules-users-showinfo .scroll:hover {
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.modules-order-ShortCart .scroll ul,
.modules-customer-Customerinfo .scroll ul,
.modules-users-showinfo .scroll ul {
	display: none;
}
.modules-order-ShortCart .scroll:hover ul,
.modules-customer-Customerinfo .scroll:hover ul,
.modules-users-showinfo .scroll:hover ul {
	display: block;
	position:absolute;	
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	width: 126px;
	padding: 0 5px;
	background-color: var(secondary-background-color);
}
.modules-order-ShortCart .scroll li,
.modules-customer-Customerinfo .scroll li,
.modules-users-showinfo .scroll li {
	margin: 0;
	display: block;
	padding: 4px 16px 4px 5px;
}
.modules-order-ShortCart .scroll li:not(:first-child),
.modules-customer-Customerinfo .scroll li:not(:first-child),
.modules-users-showinfo .scroll li:not(:first-child) {
	border-top: 1px solid var(main-border-color);
}

.modules-order-ShortCart > div {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -moz-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -o-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: -ms-linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
	background-image: linear-gradient(top, var(grad-one-first-color), var(grad-one-second-color));
}
.modules-order-ShortCart .scroll:hover ul {
	border: 2px solid var(grad-one-second-color);
}
.modules-order-ShortCart .heading-two {
	background-image: var(grad-one-vertical-arrow-image);
}
.modules-order-ShortCart .heading-two,
.modules-order-ShortCart .heading-two a:hover {
	color: var(grad-one-text-color);
}
.modules-order-ShortCart .heading-two a {
	color: var(grad-one-link-color);
}

.modules-customer-Customerinfo > div,
.modules-users-showinfo > div {
    background-color: var(grad-two-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -moz-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -o-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -ms-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
}
.modules-customer-Customerinfo .scroll:hover ul,
.modules-users-showinfo .scroll:hover ul {
	border: 2px solid var(grad-two-second-color);
}
.modules-customer-Customerinfo .heading-two,
.modules-users-showinfo .heading-two {
	background-image: var(grad-two-vertical-arrow-image);
}
.modules-customer-Customerinfo .heading-two,
.modules-customer-Customerinfo .heading-two a:hover,
.modules-users-showinfo .heading-two,
.modules-users-showinfo .heading-two a:hover {
	color: var(grad-one-text-color);
}

.modules-website-thread {
	height: 30px;
	line-height: 30px;	
	padding-left: 30px;
	background-image: var(thread-image);
	background-position: left center;
	background-repeat: no-repeat;
}
.modules-website-thread li{
	display: inline;
}
.modules-website-thread a {
	color: var(main-link-current-color);
	text-decoration: none;
}
.modules-website-thread a:hover {
	color: var(main-link-color);
	text-decoration: underline;
}

.modules-solrsearch-form {
	width: 100%;	
	/* Vertical centering */
	display: table;
	table-layout: fixed;
}
.modules-solrsearch-form form {
	/* Vertical centering */
	height: 30px;
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}
.modules-solrsearch-form form.cmxform fieldset  { 
	padding: 0;
	border: none;
	display: inline-block;
}
.modules-solrsearch-form form.cmxform input.textfield {
	width: 150px;
	max-width: 150px;
	/* Search icon */
	padding: 0 0 0 21px;
	background-image: var(search-image);
	background-position: left center;
	background-repeat: no-repeat;
	min-height: 20px;
}
.modules-solrsearch-form .button {
	margin-left: 5px;
}

#footer-top .modules-rss-feed {
	background-color: var(secondary-background-color);
	background-image: var(main-border-image), var(main-border-image), var(main-border-image), var(main-border-image);
	background-repeat: repeat-y, repeat-x, repeat-y, repeat-x;
	background-position: left top, right top, right top, left bottom;
	padding: 1px;
	min-height: 30px;
	line-height: 30px;
}
#footer-top .modules-rss-feed .heading-two {
	background-color: var(grad-two-second-color);
	background-image: -webkit-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -webkit-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -webkit-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -moz-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -moz-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -moz-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -o-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -o-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -o-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: -ms-linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), -ms-linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), -ms-linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	background-image: linear-gradient(225deg, var(secondary-background-color) 11px, transparent 11px), linear-gradient(135deg, var(secondary-background-color) 11px, transparent 11px), linear-gradient(top, var(grad-two-first-color), var(grad-two-second-color));
	color: var(grad-two-text-color);
	padding: 0 26px 0 12px;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	float: left;
	min-height: 30px;
	line-height: 30px;
}

#footer-middle .cblock {
	margin: 0 14px;
}
#footer-middle .cblock h3 {
	color: var(grad-one-text-color);
}
#footer-middle .cblock a {
	color: var(grad-one-link-color);
	text-decoration: none;
}
#footer-middle .cblock a:hover {
	color: var(grad-one-text-color);
	text-decoration: underline;
}
#footer-middle .cblock strong {
	color: var(grad-one-text-color);
}
#footer-middle .cblock span {
	color: var(grad-one-text-color);
}
#footer-middle .cblock ul li::before {
	text-shadow: 1px 2px 2px var(bullet-shadow-two-color);
}

#footer-bottom .copyrights {
	text-align: right;
}

.separator {
	margin-left: 5px;
	margin-right: 5px;
}

.inline-list dt,
.document-infos dt {
	font-weight: bold;
}

.document-visual {
	float: right;
	margin-left: 5px;
}

.share-list li a {
	opacity: 0.5;
}
.share-list li a:hover {
	opacity: 1;
}

.modules-ecomextended-managesearchfilters .normal li > dl {
	display: inline;
}

/** Product list, shelf list, sale list */
.product-list > li,
.shelf-list > li {
	border: 1px var(main-border-color) solid;
	width: 219px;
	margin-right: 16px;
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#sidebarpage #sidebar-column .product-list > li,
#sidebarpage #sidebar-column .shelf-list > li {
	margin-right: 0;
	width: 209px;
}
#sidebarpage #content-column .product-list > li:nth-child(3n),
#sidebarpage #content-column .shelf-list > li:nth-child(3n) {
	margin-right: 0;
}
#nosidebarpage #content-column .product-list > li:nth-child(4n),
#nosidebarpage #content-column .shelf-list > li:nth-child(4n) {
	margin-right: 0;
}
#nosidebarpage #content-column .product-list > li,
#nosidebarpage #content-column .shelf-list > li {
	margin-right: 14px;	
}

.product-list .product-visual,
.products-comparison-list .product-visual,
.shelf-list .shelf-visual {
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;
}
.product-list .pictograms-container,
.products-comparison-list .pictograms-container {
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	position: absolute;
	right: 0;
	bottom: 2px;
	z-index: 10;
}
.products-comparison-list .product-remove-container {
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

.product-list .product-label,
.products-comparison-list .product-label,
.shelf-list .shelf-label {
	height: 35px;
}
.product-list .product-rating {
	height: 15px;
	font-size: 0.7em;
	line-height: 15px;
	vertical-align: middle;
}
.product-list .product-price {
	height: 15px;
}
.product-list .product-add,
.products-comparison-list .product-add {
	margin-top: 5px;
	height: 29px;
}
.shelf-list .shelf-description {
	height: 53px;
}
.shelf-list .shelf-sub-selection {
	height: 22px;
	white-space: nowrap;
}
.shelf-list .shelf-sub-selection select {
	max-width: 140px;
}

.sale-list > li {
	border: 1px var(main-border-color) solid;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.products-comparison-list .product-quantity-selector {
	height: 22px;
}
.products-comparison-list table.normal tr th {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(left, var(grad-one-second-color) 50%, var(grad-one-first-color) 100%);
	background-image: -moz-linear-gradient(left, var(grad-one-second-color) 50%, var(grad-one-first-color) 100%);
	background-image: -o-linear-gradient(left, var(grad-one-second-color) 50%, var(grad-one-first-color) 100%);
	background-image: -ms-linear-gradient(left, var(grad-one-second-color) 50%, var(grad-one-first-color) 100%);
	background-image: linear-gradient(left, var(grad-one-second-color) 50%, var(grad-one-first-color) 100%);
}

.modules-catalog-product .columns {
	margin-top: 3px;
}
.modules-catalog-product .columns > :not(:last-child) {
	border-right: 1px var(main-border-color) solid;
}
.modules-catalog-product .additionnal-visuals li {
	border: 1px var(main-border-color) solid;
}
.modules-catalog-product .availability {
	text-align: center;
}
.modules-catalog-product .availability .level {
	font-weight: bold;
	font-size: 20px;
}
.modules-catalog .main-price .price {
	font-size: 1.4em;
}

/** Order process */
.summary {
	border: 5px solid var(grad-one-second-color);
}
.summary > :first-child {
	background-color: var(grad-one-second-color);
	background-image: -webkit-linear-gradient(top, var(grad-one-second-color) 50%, var(grad-one-first-color));
	background-image: -moz-linear-gradient(top, var(grad-one-second-color) 50%, var(grad-one-first-color));
	background-image: -o-linear-gradient(top, var(grad-one-second-color) 50%, var(grad-one-first-color));
	background-image: -ms-linear-gradient(top, var(grad-one-second-color) 50%, var(grad-one-first-color));
	background-image: linear-gradient(top, var(grad-one-second-color) 50%, var(grad-one-first-color));
	color: var(grad-one-text-color);
	padding: 5px;
	text-align: center;
	margin: 0;
}
.summary .section {
	margin: 8px 8px 0 8px;
	padding-bottom: 8px;
}
.summary .section:not(:last-child) {
	border-bottom: 1px solid var(main-border-color);
}
.process-steps ol {
	margin: 20px 0 30px 0;
}
.process-steps li {
	border-color: var(main-border-color);
}
.process-steps .current {
	font-weight: bold;
	border-color: var(secondary-border-color);
}
.modules-order .mode-visual {
	width: 160px;
	max-width: 160px;
	text-align: center;
}
.modules-order .mode-price {
	width: 75px;
	max-width: 75px;
}
.modules-order td.product-infos ol {
	margin-top: 5px;
	margin-left: 5px;
	font-size: 0.9em;
}
.modules-order td.product-infos ol li {
	margin: 0;
}

/** Payment statuses */
.payment-waiting,
.payment-initiated {
	color: var(warnings-text-color);
}
.payment-success {
	color: var(var-messages-text-color);
}
.payment-failed {
	color: var(errors-text-color);
}

/** jQuery UI */
@import url(/themes/default/style/jqueryui.css);
.ui-autocomplete {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	/* vertical scrolling */
	max-height: 250px;
	overflow-y: auto;
}
.ui-autocomplete-loading {
	background-position: right center;
	background-repeat: no-repeat;
	background-image: var(loading-image);
}
.modules-solrsearch-form form.cmxform input.ui-autocomplete-loading {
	background-image: var(loading-image);
}
.ui-widget {
	font-size: 1em;
}
.ui-widget input.button,
.ui-widget button.button,
.ui-widget a.button {
	font-size: 11px;
}
.ui-widget input.button.primary,
.ui-widget button.button.primary,
.ui-widget a.button.primary {
	font-size: 16px;
}

/** Browser specific styles */
@import url(/themes/default/style/common.gecko.all.css);
@import url(/themes/default/style/common.trident.all.css);